body{
    background-image: url("./images/Calicut_Beach.jpg");
    background-size: cover;
    
}
.accordion{
    position: relative;
    top: 100px;
}
.d1{
    font-family: cursive;
    position: relative;
    top: 30px;
    font-style: unset;
}
    